<div class="login_div">

	<%= flash[:error] %>
      
  <p>Or sign in the old fashion way. Ya dinosaur.</p>

	<%= form_tag users_login_path, method: :post, :html => {:class => "login_form"} do %>
	  <%= text_field_tag :email, "", placeholder: 'Email' %>
	  <%= password_field_tag :password, "", placeholder: "Password" %>
	  <%= submit_tag("login") %>
	<% end %>

</div>

