<meta name="viewport" content="width=device-width, initial-scale=1">
 <div class="outermost">

    <div class="clouds cloud_1"> </div>
    <div class="clouds cloud_2"> </div>
    <div class="clouds cloud_3"> </div>
    <div class="clouds cloud_4"> </div>
    <div class="clouds cloud_5"> </div>
    <div class="clouds cloud_6"> </div>
    <div id="dinosaur_icon"></div>


    <div class="login_page">

      <h1 class="eeek_title">Eeek.</h1>
      <%= link_to "<div class='social-google'></div>".html_safe, user_omniauth_authorize_path(:google_oauth2), class: "social-google" %>
      <% if @errors %>
        <% @errors.each do |attribute, error| %>
          <p>Oh No! <%="#{attribute.capitalize}  #{error}" %></p>
          <div><%= resource.errors.inspect %></div>
        <% end %>
      <% end %>
      <%= render 'login_form' %>
      <%= render 'sign_up_form' %>
    </div>
    
 </div> 

