
<div class="signup_div bd-sm">
	<h1 class="signup_form_header">Don't have an account? Sign Up</h1>

		<%= form_for :user, url: users_path, method: :post, :html => {:class => "signup_form"} do |f| %>
			<%= f.text_field :email, :placeholder => "Email" %>
			<%= f.text_field :first_name, :placeholder => "What's your first name?" %>
			<%= f.password_field :password, :placeholder => "Password, shhh" %>
			<%= f.submit %>
		<% end %>        
	
</div>