<!DOCTYPE html>
<html>
<head>
  <title>Eeek</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="<%= params[:controller] %>_controller">

	<%= render partial: 'mood/mood_form' %>

	<div class="not_mood_form">
		<%= javascript_include_tag "//www.google.com/jsapi" %>
		<%= javascript_include_tag "path/to/highcharts.js", "chartkick" %>
		
		<%= yield %>

		<%= render partial: "home/leaf_game" %>
	</div>

</body>
</html>
