<div class="form mood_form_div">
    <h1>How are you feeling today?</h1>
    <hr>

    <%= flash[:error] if flash[:error] %>

    <hr>
    <%= form_for :mood, :url => {controller: "mood", action: "create"}, :method => :post, html: { multipart: true, id: "new_mood_form" }, remote: true do |f| %>
      <%= label_tag(:mood_label, "1") %><%= radio_button_tag(:scale, "1")%>
      <%= label_tag(:mood_label, "2") %><%= radio_button_tag(:scale, "2")%>
      <%= label_tag(:mood_label, "3") %><%= radio_button_tag(:scale, "3")%>
      <%= label_tag(:mood_label, "4") %><%= radio_button_tag(:scale, "4")%>
      <%= label_tag(:mood_label, "5") %><%= radio_button_tag(:scale, "5")%>
      <%= label_tag(:mood_label, "6") %><%= radio_button_tag(:scale, "6")%>
      <%= label_tag(:mood_label, "7") %><%= radio_button_tag(:scale, "7")%>
      <%= label_tag(:mood_label, "8") %><%= radio_button_tag(:scale, "8")%>
      <%= label_tag(:mood_label, "9") %><%= radio_button_tag(:scale, "9")%>
      <%= label_tag(:mood_label, "10") %><%= radio_button_tag(:scale, "10")%>
      <br>
      <%= f.submit "Save", class: "mood_submit" %>
    <% end %> 
  </div>