



<div class="well">
  <%= form_for :upload, :url => uploads_path, :action => :create, :method => :post, html: { multipart: true }, remote: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>