<%= render partial: "dashboard/top_bar" %>

<h1> All of your things here </h1>

	<ul class="thumbnail_ul">
		<% if @user_uploads %>
			<% @user_uploads.each do |upload| %>
				<li class="thumbnail_li">
					<h3 class="hidden_thumbnail_message">Click to enlarge</h3>
					<% if upload.text %>
						<p class="thumbnail text_thumbnail"><%= upload.text %></p>
						<%= link_to "Delete", upload_path(upload), method: :delete %>
					<% else  %>
						<img src=<%= upload.attachment %> class="thumbnail">
						<%= link_to "Delete", upload_path(upload), method: :delete %>
					<% end %>
				</li>
			<% end %>
		<% end %>
	</ul>

	<hr>
<h1> All of the things that came with your account here </h1>
	<ul class="thumbnail_ul">
		<% @complimentary_uploads.each do |upload| %>
			<li class="thumbnail_li">
				<h3 class="hidden_thumbnail_message">Click to enlarge</h3>
				<% if upload.text %>
					<p class="thumbnail text_thumbnail"><%= upload.text %></p>
					<%= link_to "Delete", upload_path(upload), method: :delete %>
				<% else  %>
					<img src=<%= upload.attachment %> class="thumbnail">
					<%= link_to "Delete", upload_path(upload), method: :delete %>
				<% end %>
			</li>
		<% end %>
	</ul>
				