<%= render partial: "dashboard/top_bar" %>

<h1> All of your things here </h1>

	<ul class="thumbnail_ul">
		<% @uploads.each do |upload| %>
			<li class="thumbnail_li">
				<% if upload.text %>
					<p class="thumbnail text_thumbnail"><%= upload.text %></p>
					<%= link_to "Delete", upload_path(upload), method: :delete %>
				<% else  %>
					<img src=<%= upload.attachment %> class="thumbnail">
					<%= link_to "Delete", upload_path(upload), method: :delete %>
				<% end %>
			</li>
		<% end %>
	</ul>

				